@font-face {
  font-family: 'ErvaEsra';
src: url('../fonts/ErvaEsra_Demo-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'ErvaEsra', sans-serif;
}